@page "/trainers"

<h3>Управление тренерами</h3>

<div class="button-container">
<button class="btn btn-primary" @onclick="ShowAddTrainerModal">Добавить тренера</button>
<button class="btn btn-secondary" @onclick="ShowFindTrainerModal">Найти тренера</button>
</div>

<AddTrainerModal @bind-IsVisible="isAddTrainerModalVisible" />
<SearchTrainerModal @bind-IsVisible="isSearchTrainerModalVisible" />

@code {
    private bool isAddTrainerModalVisible;
    private bool isSearchTrainerModalVisible;

    private void ShowAddTrainerModal() => isAddTrainerModalVisible = true;
    private void ShowFindTrainerModal() => isSearchTrainerModalVisible = true;
}
